/* Common */
.Contain-Load-Mores {
  margin: 0 0 !important;
  padding: 0 0 !important;
}

.Load-Mores {
  width: 50%;
  float: right;
  margin: 0 !important;
  padding: 0 !important;
}

.Event #slider {
  background-image: -webkit-linear-gradient(
      left,
      rgba(0, 0, 0, 0.6),
      rgb(255, 255, 255, 0.1),
      rgb(255, 255, 255, 0.1)
    ),
    url("../../assets/img/event_1.png");
}
.Event #Background-Highlight {
  background-image: url("../../assets/img/event_2_background.png");
  background-size: 100%;
}

.Event #Background-YearDay {
  background-image: url("../../assets/img/event_6_background.png");
  background-size: 100%;
}

/* Highlight */
.Content__Highlight {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  min-height: 750px;
}

.Content__Highlight .Line {
  margin-top: 50px;
  width: 100px;
  height: 15px;
  background-color: red;
}

.Content__Highlight .member-img {
  min-height: 500px;
  border-bottom-right-radius: 16px;
  border-bottom-left-radius: 16px;
  box-shadow: 1px 2px 4px rgb(0 0 0 / 50%);
}

.Container__Content .Content__Highlight .member-item-content {
  background: none;
  border-radius: 16px;
  box-shadow: none;
}

.Container__Content .Content__Highlight .member-item .item-content {
  background: none !important;
  color: #000;
}

.Header {
  font-weight: 800;
  font-size: xx-large;
  text-transform: uppercase;
}

/* Event Highlight list */
.member-list {
  margin-top: 12px;
  margin-left: -8px;
  margin-right: -8px;
  padding-bottom: 32px;
}

.item-content {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.item-header {
  font-weight: 600;
}

.item-header:hover {
  color: red;
}

.item-title {
  margin-top: 15px;
  line-height: 1.6;
}

.item-description {
  margin-top: 15px;
  text-align: justify;
  line-height: 1.4;
  max-height: 105px;
  text-overflow: ellipsis;
  overflow: hidden;
  overflow-y: scroll;
}

.item-date {
  margin-top: 15px;
  color: #757575;
}

/* Upcoming */
.Content__Upcoming {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Content__Upcoming .Line {
  margin-top: 50px;
  width: 100px;
  height: 15px;
  background-color: #ffc107;
}

.Content__Upcoming .Load-Mores {
  margin-bottom: 50px !important;
  background-color: #ffc107 !important;
}

/* Event-Year */
.Content__Event-Year {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Content__Event-Year .Line {
  margin-top: 50px;
  width: 100px;
  height: 15px;
  background-color: #ffc107;
}

.Content__Event-Year .Load-Mores {
  margin-bottom: 50px !important;
  background-color: #ffc107 !important;
}

/* Event-Day */
.Content__Event-Day {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.Content__Event-Day .Line {
  margin-top: 50px;
  width: 100px;
  height: 15px;
  background-color: #28a745;
}

.Content__Event-Day .Load-Mores {
  margin-bottom: 50px !important;
  background-color: #28a745 !important;
}
