.Admin{
    /* display: none; */
    background-color: #fff;
}

.full-width{
    width: 100%;
}

.StartAdmin{
    position: fixed;
    bottom: 0px;
    right:0px;
    z-index: 1;
}

.StartAdmin Button{
    padding: 5px;
    
}

.Container{
    margin-top: 70px;
}

.Banner{
    width: 100%;
}