.review-card{
	background-color: #fff;
    box-shadow: 1px 2px 4px rgb(0 0 0 / 20%);
}

.review-card .Circle-Icon {
	background: black;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	color: #fff;
	display: flex;
	justify-content: center;
}

.Load-Mores{
	width: 10%;
    border-radius: 10px;
    background-color: black !important;
    color: rgb(243, 220, 220);
}